<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.splitc.share">

    <supports-screens android:smallScreens="false" />

    <permission
        android:name="in.splitc.share.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="in.splitc.share.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta-data of the application -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!-- Splash screen -->
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Sweet Home -->
        <activity
            android:name=".views.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- Home Sweet Home -->
        <activity
            android:name=".views.SelectLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- User Profile -->
        <activity
            android:name=".views.UserProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- New Load -->
        <activity
            android:name=".views.NewRideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- Users Chat Activity -->
        <activity
            android:name=".views.UsersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- Accept ride -->
        <activity
            android:name=".views.FeedItemDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- Chat screen -->
        <activity
            android:name=".views.ChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- Feedback -->
        <activity
            android:name=".views.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- About us -->
        <activity
            android:name=".views.AboutUs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarHomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- About us -->
        <activity
            android:name=".utils.ZWebView"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplitActionBarTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!-- Services -->
        <service android:name=".services.CacheCleanerService" />
        <!-- Firebase instance id service -->
        <service
            android:name=".services.FirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Firebase messaging -->
        <service
            android:name=".services.FirebaseTokenService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>